/* Sets font for bady */
body{
    font-family:Georgia, sans-serif;
}
/* Styles h1, h1 and p and marign*/
h1{
    font-size: 45px;
    margin-left: 2.5%;
}

h2{
    font-size:32px;
    margin-left: 2.5%;
}


p{
    font-size:30px;
}

/* sets Bg colour, padding and makes it have rounded conners.*/
nav{
    background-color:bisque;
    padding:20px;
    border-radius: 10px;
}

/* Sets font: size, color and family. Adds margin, padding and border. Makes the coners round*/
footer{
    font-size: 20px;
    color:chocolate;
    background-color:bisque;
    margin-top: 100px;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid burlywood;
}







/* Sets font family and color. removes the link underline. changes background colour. sets padding and border. makes rounded edges.*/
.nav-bar-links{
    text-decoration:none;
    color:chocolate;
    background-color:bisque;
    padding:10px;
    border: 2px solid bisque;
    border-radius: 10px;
    
}

/* When the mouse is over the link it show a brown solid border*/
.nav-bar-links:hover{
    border: 2px solid chocolate;
}

/* When you click on the link its text and background colours will swope.*/
.nav-bar-links:focus{
    background-color: chocolate;
    color:bisque;
}

/* set div's disply to flex and aligns the contect left*/
.left-div{
    display:flex;
    justify-content: left;
    align-items: left;
}

/*set the colour, background colour, margin, width, padding and border. Makes the conners round*/
.vanilla-intro{
    color:chocolate;
    background-color:bisque;
    width:1650px;
    margin-left: 2.5%;
    padding:20px;
    border-radius: 20px;
    border:3px solid burlywood;
    
    
}

/*set the colour, background colour, margin, width, padding and border. Makes the conners round*/
.chocolate-intro{
    color:bisque;
    background-color:chocolate;
    width:1650px;
    margin-left: 2.5%;
    padding:20px;
    border: 3px solid brown;
    border-radius: 20px;
}
/* sets the width of the images. make them float left. set margin and border. make the conners round*/
.main-vanilla-cake-img{ 
   width:300px;
   float:left;
   margin-right:20px;
   border: 3px solid burlywood;
   border-radius: 10px;
}

/* sets the width of the images. make them float left. set margin and border. make the conners round*/
.main-chocolate-cake-img{
    width:300px;
    float:right;
    margin-left:20px;
    border:3px solid brown;
    border-radius: 10px;
}

/* sets font colour*/
.color-vanilla{
    color:burlywood;
    
}

/* sets font colour*/
.color-chocolate{
    color:chocolate;
}

/* sets text size*/
.click-here-link{
    font-size: 30px;
}