/* Sets font for bady */
body{
    font-family:Georgia, sans-serif;
}
/* Styles h1, h1 and p and marign*/
h1{
    font-size: 45px;
    margin-left: 2.5%;
}

h2{
    font-size:32px;
    margin-left: 2.5%;
}

p{
    font-size:30px;
}

/* Sets font: size, color and family. Adds margin, padding and border. Makes the coners round*/
footer{
    font-size: 20px;
    color:chocolate;
    background-color:bisque;
    margin-top: 100px;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid burlywood;
}



/* Start of Nav bar and links styling */
nav{
    background-color:bisque;
    padding:20px;
    border-radius: 10px;
}

.nav-bar-links{
    text-decoration:none;
    color:chocolate;
    background-color:bisque;
    padding:10px;
    border: 2px solid bisque;
    border-radius: 10px;
    
}

/* When the mouse is over the link it show a brown solid border*/
.nav-bar-links:hover{
    border: 2px solid chocolate;
}

/* When you click on the link its text and background colours will swope.*/
.nav-bar-links:focus{
    background-color: chocolate;
    color:bisque;
}

/* sets text size for links*/
.click-here-link{
    font-size: 30px;
}

p a, footer a{
    color:rgb(0, 0, 238);
}
/* End of Nav bar and links styling */



/* set div's disply to flex and aligns the contect left
makes the image stay in div rather than leaving when floating left or right*/
.left-div{
    display:flex;
}


/* Start styling page one */
/*set the colour, background colour, margin, width, padding and border. Makes the conners round*/
.vanilla-intro{
    color:chocolate;
    background-color:bisque;
    width:1650px;
    margin-left: 2.5%;
    padding:20px;
    padding-bottom:6px;
    border-radius: 20px;
    border:3px solid burlywood;      
}

/*set the colour, background colour, margin, width, padding and border. Makes the conners round*/
.chocolate-intro{
    color:bisque;
    background-color:chocolate;
    width:1650px;
    margin-left: 2.5%;
    padding:20px;
    padding-bottom:6px;
    border: 3px solid brown;
    border-radius: 20px;
}
/* sets the width of the images. make them float left. set margin and border. make the conners round*/
.main-vanilla-cake-img{ 
   width:300px;
   float:left;
   margin-right:20px;
   border: 3px solid burlywood;
   border-radius: 10px;
}

.main-vanilla-cake-div{
    width:300px;
    margin:none;
    display: inline;
}


/* sets the width of the images. make them float left. set margin and border. make the conners round*/
.main-chocolate-cake-img{
    width:300px;
    float:right;
    margin-left:20px;
    border:3px solid brown;
    border-radius: 10px;
}
/* End styling page one */

/* sets font colour*/
.color-vanilla{
    color:burlywood;
    
}

/* sets font colour*/
.color-chocolate{
    color:chocolate;
}


.img-ref p{
    font-size:10px;
}