


/* Sets font for bady */
body{
    font-family:Georgia, sans-serif;
}
/* Sets font size margins, padding and width for the tag types in my HTML*/
h1{
    font-size: 45px;
    margin-left: 2.5%;
}

h2{
    font-size:32px;
    margin-left: 2.5%;
}

h3{
    font-size:25px;
    margin-left: 2.5%;
}

p{
    font-size:30px;
}

ul{
    font-size:20px;
    width:75%
}

li{
    font-size:20px;
    margin-left:2.5%;
    width:75%;
    padding-bottom: 10px;
}

.non-index-p{
    font-size: 20px;
    margin-left: 2.5%;
    margin-top:none;
    width:75%;
}

/* Set style for footer. Sets font: size, color and family. Adds margin, padding and border. Makes the coners round*/
footer{
    font-size: 20px;
    color:chocolate;
    background-color:bisque;
    margin-top: 100px;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid burlywood;
}



/* Start of Nav bar and links styling */
nav{
    background-color:bisque;
    padding:20px;
    border-radius: 10px;
}

.nav-bar-links{
    text-decoration:none;
    color:chocolate;
    background-color:bisque;
    padding:10px;
    border: 2px solid bisque;
    border-radius: 10px;
    
}

/* When the mouse is over the link it show a brown solid border*/
.nav-bar-links:hover{
    border: 2px solid chocolate;
}

/* When you click on the link its text and background colours will swope.*/
.nav-bar-links:focus{
    background-color: chocolate;
    color:bisque;
}

/* sets text size for links*/
.click-here-link{
    font-size: 30px;
}

p a, footer a, ol a {
    color:rgb(0, 0, 238);
}

.img-ref{
    font-size:10px;
    
}

.img-ref-cake-page{
    margin-left:2.5%;
}

/* End of Nav bar and links styling */



/* set div's disply to flex
makes the image stay in div rather than leaving when floating left or right.*/
.left-div{
    display:flex;
}



/*set the colour, background colour, margin, width, padding and border. Makes the conners round for vanilla intro*/
.vanilla-intro{
    color:chocolate;
    background-color:bisque;
    width:1650px;
    margin-left: 2.5%;
    padding:20px;
    padding-bottom:6px;
    border-radius: 20px;
    border:3px solid burlywood;      
}

/*set the colour, background colour, margin, width, padding and border. Makes the conners round for chocolate intro*/
.chocolate-intro{
    color:bisque;
    background-color:chocolate;
    width:1650px;
    margin-left: 2.5%;
    padding:20px;
    padding-bottom:6px;
    border: 3px solid brown;
    border-radius: 20px;
}


/* Start of styling images */
/* sets the width of the images. make them float left. set margin and border. make the conners round*/
.main-vanilla-cake-img{ 
   width:300px;
   float:left;
   margin-right:20px;
   border: 3px solid burlywood;
   border-radius: 10px;
}

/* sets the width of the images. make them float left. set margin and border. make the conners round*/
.main-chocolate-cake-img{
    width:300px;
    float:right;
    margin-left:20px;
    border:3px solid brown;
    border-radius: 10px;
}

.page-cake-img{
    height:300px;
    margin-left: 2.5%;
    border-radius: 10px;

}
/* End of styling images */

/* sets font colour*/
.color-vanilla{
    color:burlywood;
    
}

/* sets font colour*/
.color-chocolate{
    color:chocolate;
}







